*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.text-area{
  margin-top: 100px;
}
button{
  height: 40px;
  width: 370px;
  border: none;
  outline: none;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: bold;
  border-radius: 20px;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
button:first-child{
  background-color: black;
  color: white;
}
.container img{
  height: 50px;
  width: 70px;
  animation: animateDown infinite 1.4s;
  overflow-y: hidden;
}
@keyframes animateDown{
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40%{
    transform: translateY(3px);
  }
  60%{
    transform: translateY(3px);
  }
}
.header{
  position: fixed;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
}
ul{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
li{
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  height: 25px;
  width: 90px;
  text-align: center;
}
li:hover{
  border-bottom: 3px solid black;
}
.mid-menu{
  width: 600px;
}
.right-menu{
  width: 300px;
  margin-right: 5px;
}
@media screen and (max-width:1200px){
   .mid-menu, .right-menu{
     display: none;
   }  
}
